*{
    margin:0;
    padding: 0;
    font-family: 'Play',sans-serif;
}
/*body*/
#background{
    background-position: cover;
    position: fixed;
    max-width: 100vmax;
    max-height: 100vmax;
    z-index: -99;
}
/*general*/

h1{
    padding-top:1%;
    color: #E3EAA5;
    /* margin-top: 5%; */
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px 2px #AA5522;
}
h2{
    color: #AA5522;
}
h3{
    color:#E3EAA5;
}


/*Header*/
Header{
    background-color: #1519313f;
    box-shadow: 5px 5px 5px 8px rgba(142, 4, 255, 0);
    padding-bottom: 2%;
}
/*Navbar*/
Nav {
    padding-top: 1.5%;
}
.NavList{
    display: inline;
    padding: 2%;
    margin: auto;
    font-size: 1.2em;
    /* padding-top: 10%; */
}
.NavList a{
    /* padding-bottom: 10%; */
    text-decoration: none;
    color: #F3FAED;
    text-align: center;
}
.NavList a:hover{
    color: #AA5522;
}
ul{
    text-align: center;
    padding-top: 1%;
}

/*Principal*/
.principal{
    display: flex;
    justify-content: space-evenly;
    padding: 10%;
    width: 80%;
}
.principal h2{
    padding-right: 10%;
    padding-bottom: 2%;
    text-align: center;
    text-transform: uppercase;
}
#mainVideo{ 
    display: block;
    width: 100%;
    /* height: 50%; */
    margin: auto;
}
.imagen{
    display: block;
    margin: auto;
    width: 100%;
}

.Contenido{
    display: flex;
    /* flex-direction: column; */
    /* text-align: justify; */
}

.Contenido p{
    /* display: flex; */
    color:#FBF5D6;
    padding: 3%;
    text-align:inherit;
}
/*Publicidades*/
.publicity{
    margin-left: 25%;
}
.publicity h3{
text-align: center;
}
.ads{
    /* padding: 5%; */
    text-align: center;
    border-left: 2px solid #AA5522;
}
.Mini{
    text-align: center;
    color: #e1eb86;
    padding: 2%;
}
.Paragrafo{
    color: #FBF5D6;
    opacity: 80%;
    text-align:center;
}
aside img{
    width: 70%;
}


/*Formulario*/

.formulario{
    margin: auto;
    width: 50%;
    background-color:#ca5207a1;
    padding: 2%;
    border-radius: 12px;
    margin-bottom: 5%;
    box-shadow: 2px 4px 4px 2px black;
    /* margin: 5%; */
}
.formulario form{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}
form h3{
text-align: center;
}
form .UserInfo{
color: black;
display: flex;
flex-direction: column;
text-align: center;
margin: auto;   
padding-bottom: 1%;
}
form input{
    background-color: #E3EAA5;
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    color: #e1eb86;
}
form select{
    margin: auto;
    width: 30%;
}
form h3{
    color: #e1eb86;
}

footer{
    text-align: center;
    margin-bottom: 3%;
}

footer p{
    color: #AA5522;
}

footer a{
    text-decoration: none;
    color: #E3EAA5;
}

/*Musica*/

audio.music {
    z-index: -9999;
}
